<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Guru">
    <test name="Test Login 1">
        <classes>
            <class name="com.training.nopcommerce.feature.Register.RegisterInvalidTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->